.community-section {
  display: flex;
  border-radius: 3.2rem;
  overflow: hidden;
  background-color: $purple;

  @include respond(phone) {
    flex-direction: column;
  }

  & > div {
    flex: 1 1 50%;
    width: 50%;
    max-height: 36rem;

    @include respond(phone) {
      width: 100%;
      min-height: 19rem;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    & > h1 {
      width: 70%;
      margin: 0 auto;
      font-size: 5rem;
      line-height: 6rem;

      @include respond(tab-land) {
        width: 85%;
        font-size: 4rem;
        line-height: 5rem;
      }
      @include respond(tab-port) {
        width: 100%;
        font-size: 3rem;
        line-height: 4rem;
      }
    }
  }

  &__link {
    text-decoration: underline;
  }

  &__video-block {
    object-fit: cover;

    & > video {
      width: 100%;
    }
  }
}
