.ref-program-section {
  display: flex;
  gap: 3.2rem;
  padding: 3.2rem;
  border-radius: 3.2rem;
  background-color: #323232;

  @include respond(phone) {
    flex-direction: column;
  }

  & > div {
    display: flex;
    justify-content: center;
  }

  &__content {
    flex-direction: column;
    gap: 3.2rem;
    padding-left: 3.2rem;

    & > h1 {
      text-align: left;
    }
  }

  &__image {
    max-width: 33rem;
    aspect-ratio: 1.22;

    @include respond(phone) {
      max-width: 100%;
    }
  }
}
