@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.services {
  &__list {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
    gap: 1.8rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem;
    // gap: 32px;
    border-radius: 32px;
    background: #323232;
  }

  &__preview {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 18px;
    background-color: #5a5a5a;
    // background-color: #e2e2e2;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
      );
      animation: loading 1.5s infinite;
    }
  }

  &__content {
    padding-top: 2.5rem;
  }

  &__price {
    font-size: 2rem;
    font-weight: 600;

    &-past {
      text-decoration-line: line-through;
    }
    &-present {
      font-size: 2.5rem;
    }
  }

  &__sale {
    margin-left: 1rem;
    color: #000;
    padding: 0.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 2rem;
    background-color: #95ff8c;
  }

  &__btns {
    display: flex;
    gap: 1rem;
    width: 100%;
  }

  &__btn {
    width: 50%;
    background-color: #b98cff;

    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    border: 2px solid #b98cff;
    border-radius: 1.5rem;
    padding: 1.3rem 1.5rem;
  }

  &__more {
    color: #b98cff;
    background-color: transparent;
  }
}

.prod-head {
  display: flex;
  padding: 0px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.prod-text {
  display: flex;
  padding: 0px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.prod-icon-cont {
  position: relative;
  z-index: 1;
  flex: 1 0 0;
  align-self: stretch;
}

.prod-price {
  display: flex;
  padding: 0px 9px 0px 18px;
  align-items: center;
  gap: 18px;
  flex: 1 0 0;
}

.prod-price-num {
  display: flex;
  align-items: center;
  gap: 10px;
}

.prod-price-sale {
  display: flex;
  padding: 1px 9px;
  align-items: center;
  gap: 10px;
  border-radius: 13px;
  background: #95ff8c;
}

.prod-buttons {
  display: flex;
  padding: 0px 18px 18px 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.prod-buttons-block {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.prod-button-buy {
  border-radius: 13px;
  background: #b98cff;
  display: flex;
  padding: 13.5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  white-space: nowrap;
}

.prod-button-info {
  display: flex;
  padding: 13.5px 26.5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 13px;
  outline: 2px solid #b98cff;
  outline-offset: -2px;
}
