.social-media-section {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding: 5rem;
    border-radius: 3.2rem;
    background-color: $black;

    @include respond(tab-land) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &-heading {
    max-width: 40%;
    @include respond(tab-land) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__icons {
    display: flex;

    gap: 3vw;

    & > a > img {
      max-width: 7.5rem;

      @include respond(tab-port) {
        max-width: 6rem;
      }
    }
  }
}
