.social-media-section {
  padding: 5rem;
  border-radius: 3.2rem;
  background-color: $black;

  &__content {
    display: flex;
    align-items: center;
    gap: 5rem;

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &-heading {
    @include respond(tab-port) {
      text-align: center;
    }
  }

  &__icons {
    display: flex;

    gap: 3vw;

    & > a > img {
      max-width: 7.5rem;

      @include respond(tab-port) {
        max-width: 6rem;
      }
    }
  }
}
