.statistics {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
  }

  &__grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 31rem;
    padding: 2rem;
    border-radius: 1.8rem;
    width: 100%;
    min-height: 16rem;

    & > div > h3 {
      font-size: 3.2rem;
      font-weight: 800;
      margin-bottom: 1rem;
    }

    & > div > p {
      font-size: 1.8rem;
      font-weight: 700;
      color: $white;
    }

    &:nth-child(1) {
      flex-basis: 75rem;

      text-transform: uppercase;
      background-color: #f5e161;

      & > h2 {
        font-size: 5rem;
        font-weight: 1000;

        @include respond(tab-port) {
          font-size: 4rem;
        }

        @include respond(phone) {
          font-size: 2.5rem;
        }
      }
    }

    &:nth-child(2) {
      flex-basis: 52rem;
      padding: 0;
      border: 4px solid $blue;
      overflow: hidden;

      & > video {
        width: 100%;
      }
    }

    &:nth-child(3) {
      background-color: $blue;

      & > div > p {
        font-weight: 500;
      }
    }

    &:nth-child(4) {
      background-color: $blue;

      & > div > h3 {
        background: linear-gradient(90deg, #39d9ff, #ffc700);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      & > div > p {
        font-weight: 500;
      }
    }
    &:nth-child(5) {
      background-color: #eaeaea;

      & > div > p {
        color: $black;
        font-weight: 500;
      }
    }
    &:nth-child(6) {
      background-color: $black;

      & > div > h3 {
        text-transform: uppercase;
        background: linear-gradient(90deg, #39d9ff, #ffc700);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      & > div > p {
        font-weight: 500;
      }
    }
  }
}
