.purchase {
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 4rem;
    padding: 5rem;
    border-radius: 3.2rem;
    color: #fff;
    background-color: #000;

    @include respond(phone) {
      flex-direction: column;
    }
  }
}

.form {
  &__text {
    max-width: 40%;

    @include respond(phone) {
      max-width: 100%;
    }
  }

  &__paragraph {
    font-size: 1.8rem;
    margin-top: 2.5rem;
  }

  &__controls {
    max-width: 60rem;
    width: 100%;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
  }

  &__field {
    width: 100%;
    padding: 1.5rem 1.8rem;
    border-radius: 1.3rem;
    background-color: #fff;
    font-size: 2rem;
    border: none;
    outline: none;

    &::placeholder {
      font-weight: 300;
    }
  }

  &__buttons {
    display: flex;
    gap: 1.8rem 3.2rem;
    margin-top: 3.2rem;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__btn {
    max-width: 17.5rem;
    padding: 1.4rem 3.6rem;
    border-radius: 1.3rem;
    color: inherit;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #228cdb;
  }

  &__alert {
    font-size: 1.3rem;
    font-weight: 100;
  }
}
