.service {
  &__hero {
    display: flex;
    justify-content: center;
    gap: 5rem;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }

    & > h1 {
      text-transform: uppercase;
      width: 50%;
      @include respond(tab-port) {
        text-align: center;
        width: 100%;
      }
    }

    & > div {
      max-width: 40%;
      @include respond(tab-port) {
        max-width: 70%;
      }
      @include respond(phone) {
        max-width: 90%;
      }
    }
  }

  &__heading {
    font-size: 6rem;
    line-height: 120%;
    font-weight: 900;

    @include respond(tab-land) {
      font-size: 4rem;
    }

    & > span {
      color: $blue;
    }
  }

  &__card {
    width: 100%;
    height: 100%;

    border-radius: 3.2rem;
    background-color: #323232;

    // @include respond(phone) {
    //   flex-direction: column;
    //   align-items: self-start;
    // }

    &--light {
      background-color: transparent;
    }

    &-preview {
      width: 100%;
    }

    &-video {
      width: 100%;
      min-height: 30rem;
      border-radius: 3.2rem;
      box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);

      object-fit: cover;
      object-position: center center;

      @include respond(tab-port) {
        min-height: 100%;
      }
    }

    &-content-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      height: 30%;
      padding: 2.6rem 3.2rem;
      color: $white;

      &--light {
        color: $black;
        padding: 2.6rem 0rem;
      }

      @include respond(phone) {
        flex-direction: column;
        align-items: self-start;
      }
    }

    &-price {
      font-size: 2rem;
      font-weight: 800;

      &-past {
        text-decoration: line-through;
      }

      &-present {
        font-size: 120%;
      }
    }

    &-sale {
      margin-left: 1rem;
      color: #000;
      padding: 0.5rem;
      font-size: 1.8rem;
      font-weight: 500;
      border-radius: 2rem;
      background-color: #95ff8c;
    }

    &-btn {
      text-align: center;
      background-color: $purple;
      color: #fff;
      min-width: 45%;
      font-size: 1.8rem;
      font-weight: 700;
      border-radius: 1.5rem;
      padding: 1.3rem 1.5rem;

      &--light {
        background-color: $blue;
      }

      @include respond(phone) {
        width: 100%;
      }
    }
  }
}
