.slide-4 {
  background-color: $blue;

  .image-content {
    display: flex;
    gap: 2rem;
    align-items: center;

    padding: 7rem 0;
    padding-right: 6.6rem;

    @include respond(tab-port) {
      justify-content: center;
      padding: 3.2rem;
    }
  }
}
