.slide-2 {
  background-color: $swampy;

  .image-content {
    display: flex;
    gap: 2rem;
    align-items: start;
    min-width: 45rem;
    margin: 0 auto;
    padding-top: 5rem;
    padding-right: 9%;
    border-radius: 1px solid black;

    @include respond(tab-port) {
      justify-content: center;
      padding: 3.2rem;
      padding-bottom: 0;
      min-width: min-content;
    }

    & > picture {
      // max-width: 50rem;

      width: 100%;

      & > img {
        max-height: 45rem;
        border-top-left-radius: 3.2rem;
        border-top-right-radius: 3.2rem;
      }
    }

    // @include respond(phone) {
    //   max-width: 70%;
    // }
  }
}
