.slide-1 {
  background-color: $blue;

  .image-content {
    display: flex;
    gap: 2rem;
    align-items: start;
    padding-top: 8.4rem;
    padding-right: 5rem;

    @include respond(tab-port) {
      justify-content: center;
      padding: 1.8rem;
      padding-bottom: 0;
    }
  }

  .small {
    width: 16.6rem;
    height: 16.6rem;

    & > img {
      aspect-ratio: 1/1;
      width: 100%;
    }
  }

  .big {
    aspect-ratio: 1;
    width: auto;
    max-height: 41.6rem;
    & > picture > img {
      border-top-left-radius: 3.2rem;
      border-top-right-radius: 3.2rem;
    }
  }
}
