<section class="faq-section u-margin-bottom-section">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">FAQ</h1>
  <div class="faq-section__content">
    <ul class="accordion" id="accordion">
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="purchase"
        />

        <label class="accordion__label" for="purchase">
          <p>Как мне приобрести услугу?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Оставьте заявку с помощью формы, указанной выше, и с вами свяжется
            наш менеджер, который проконсультирует и поможет с оплатой
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="guarantees"
        />

        <label class="heading-secondary accordion__label" for="guarantees">
          <p>Какие сроки полной верификации UpWork?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Все случаи индивидуальны, зависит от работы службы поддержки UpWork.
            Обычно полная верификация аккаунта занимает от 2 до 7 дней.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="document"
        />

        <label class="heading-secondary accordion__label" for="document">
          <p>Что будет, если документ при верификации не примут?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Если документ не пройдет проверку на UpWork с 1-ой попытки, то мы
            бесплатно предоставляем дополнительные документы для прохождения
            верификации. У нас большая база документов, и мы гарантируем вам,
            что вы сможете подтвердить нахождение на неподсанкционной территории
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="timing"
        />

        <label class="heading-secondary accordion__label" for="timing">
          <p>Можно ли регистрироваться на паспорт РФ/РБ?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Да, аккаунт UpWork желательно регистрировать на заграничный паспорт
            РФ. Внутренний паспорт тоже разрешен, однако верификация с его
            помощью может затянуться вплоть до 2 недель. С паспортами РБ проблем
            не возникает, запрещено лишь находится на территории РФ и РБ
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="document-types"
        />

        <label class="heading-secondary accordion__label" for="document-types">
          <p>Где взять иностранный номер телефона для регистрации?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Аккаунт UpWork можно регистрировать на несуществующие номера.
            Никаких дополнительных смс-подтверждений со стороны биржи не
            требуется. Лица, имеющие РФ номер могут выбрать страну Казахстан и
            вписать свой действующий номер.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="reg"
        />

        <label class="heading-secondary accordion__label" for="reg">
          <p>Можно ли регестрироваться на UpWork и Fiverr, если нет 18 лет?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Регистрироваться на фриланс-биржах можно только по достижению
            совершеннолетию, поэтому если вам нет 18 лет - рассмотрите вариант
            регистрация аккаунта на совершеннолетних родственников или друзей.
            Ни в коем случае не подделывайте паспорта и не пытайтесь походить
            проверку по “дипфейкам”, вам могут навсегда заблокировать
            возможность работать на биржах
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="cases"
        />

        <label class="heading-secondary accordion__label" for="cases">
          <p>
            Существуют ли случаи, когда аккаунт UpWork нельзя разблокировать?
          </p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Если ваш аккаунт заблокирован с формулировкой “permanent”- 99%, что
            ваш аккаунт навсегда попал в бан, и мы не сможем вам помочь. Чаще
            всего это происходит при жестких нарушений правил биржи. Однако если
            ваш аккаунт попал под блокировку из-за нахождения на подсанкционной
            локации или по формулировке “подозрительная активность”, мы готовы
            помочь вам и заняться процессом разблокировки вашего аккаунта
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="compulsory"
        />

        <label class="heading-secondary accordion__label" for="compulsory">
          <p>
            Обязательно ли проходить верификацию и регистрировать аккаунт на
            свои данные?
          </p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Да, верификация аккаунтов UpWork и Fiverr - обязательный процесс,
            обойти его невозможно, иначе аккаунт UpWork и Fiverr будет
            заблокирован. Также у вас не получится пройти верификацию на кого-то
            другого, ведь процесс верификации состоит из подтверждения паспорта
            и лица в реальном времени c задействием искусственного интеллекта,
            обмануть его не выйдет
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
