// @font-face {
//   font-family: "ME-regular";
//   src: url("./../assets/fonts/ME-regular.otf");
// }

body {
  font-family: "Montserrat", sans-serif;
}

.heading-primary,
.heading-secondary,
.heading-secondary-hero,
.heading-tertiary {
  line-height: 125%;
  font-weight: 800;
}

.regular-heading {
  font-size: 3.2rem;
  font-weight: 700;
}

.heading-primary {
  font-size: 5rem;

  @include respond(phone) {
    font-weight: 1000;
    font-size: 4rem;
  }
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 650;

  @include respond(phone) {
    font-weight: 1000;
    font-size: 4rem;
    text-transform: uppercase;
  }
}

.heading-tertiary {
  font-size: 2rem;
}

.huge-paragraph {
  font-size: 3.2rem;
  font-weight: 650;

  @include respond(phone) {
    font-size: 2.2rem;
  }
}

.big-paragraph {
  font-size: 1.8rem;

  @include respond(phone) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.paragraph {
  font-size: 1.6rem;
}
