// @font-face {
//   font-family: "ME-regular";
//   src: url("./../assets/fonts/ME-regular.otf");
// }

body {
  font-family: "Montserrat", sans-serif;
}

.heading-primary,
.heading-secondary,
.heading-secondary-hero,
.heading-tertiary {
  // font-family: 'some font';
  line-height: 125%;
  font-weight: 800;
}

.heading-primary {
  font-size: 5rem;

  @include respond(tab-land) {
    font-size: 4rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.heading-secondary {
  font-size: 3.2rem;
}

.heading-tertiary {
  font-size: 2rem;
}

.huge-paragraph {
  font-size: 3.2rem;
  font-weight: 800;

  @include respond(phone) {
    font-size: 2.2rem;
  }
}

.big-paragraph {
  font-size: 1.8rem;
}

.paragraph {
  font-size: 1.6rem;
}
