.u-text-white {
  color: #fff !important;
}

.u-margin-bottom-section {
  margin-bottom: 9rem !important;

  @include respond(phone) {
    margin-bottom: 3.2rem !important;
  }
}

.u-margin-bottom-heading {
  margin-bottom: 5rem !important;

  @include respond(phone) {
    margin-bottom: 3.2rem !important;
  }
}

.u-margin-bottom-common {
  margin-bottom: 3.2rem !important;

  @include respond(phone) {
    margin-bottom: 1.8rem !important;
  }
}

.u-margin-bottom-paragraph {
  margin-bottom: 1rem !important;
}

.u-margin-top-paragraph {
  margin-top: 1.8rem !important;
}

.u-text-center {
  text-align: center !important;
}
