.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;

  @include respond(phone) {
    padding: 0 1.5rem;
  }
}

/*
FAQ - Начало
*/

.faq-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

details {
  width: 900px;
}

summary::-webkit-details-marker {
  display: none;
}
summary::-moz-list-bullet {
  list-style-type: none;
}
summary::marker {
  display: none;
}
summary {
  display: block;
  cursor: pointer;
  position: relative;
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  gap: 32px;
  color: #000;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

details[open] > summary:before {
  transform: scale(1, -1);
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.faq-text {
  color: #000;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}

/*
FAQ - Конец
*/
