.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;

  @include respond(tab-port) {
    padding: 0 1.5rem;
  }
}

/*
Блог - Начало
*/

.blog-block {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
}

.blog-block-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 32px;
  background-image: url("images/blog.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-main-info {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.blog-main-text {
  display: flex;
  width: 498px;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
}

.blog-head {
  align-self: stretch;
  color: #000;

  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px; /* 100% */
}

.blog-main-tag {
  display: flex;
  padding: 5px 13px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  border: 2px solid #000;
}

.blog-tag-text {
  color: #000;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 109px;
  height: 22px;
}

.blog-main-button {
  display: flex;
  padding: 14px 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 13px;
  background: #7d6167;
  width: 64px;
  color: #fff;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.blog-artс-button {
  display: flex;
  width: 306px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 18px;
}

.blog-artc {
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 32px;
  background: #228cdb;
}

.blog-artc-text {
  color: #fff;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 242px;
  flex: 1 0 0;
}

.blog-button {
  display: flex;
  padding: 50px 79px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 32px;
  background: #000;
}

// .blog-arrow {
// }

/*
Блог - Конец
*/

/*
Комьюнити - Начало
*/

.community {
  display: flex;
  align-items: flex-start;
  border-radius: 32px;
  background: #b98cff;
}

.community-text {
  display: flex;
  padding: 0px 90px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.txt-c {
  color: #fff;
  text-align: center;

  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  flex: 1 0 0;
}

.community-url {
  color: #fff;

  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration-line: underline;
}

.community-icon {
  display: flex;
  height: 360px;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 0;
}

.community-vid {
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 0px 32px 32px 0px;
}

/*
Комьюнити - Конец
*/

/*
Рефералка - Начало
*/

.referral-prog {
  display: flex;
  padding: 32px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 32px;
  background: #323232;
}

.referral-text {
  display: flex;
  padding: 0px 32px;
  /*
  flex-direction: column;
  */
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.referral-img {
  display: flex;
  height: 244px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 32px;
}

.ref-img {
  width: 300px;
  flex-shrink: 0;
}

/*
Рефералка - Конец
*/

/*
Видео - Начало
*/

.youtube {
  display: flex;
  width: 1290px;
  justify-content: space-between;
  align-items: center;
}

.youtube-mini {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 18px;
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
}

.yt-mini-cover {
  display: flex;
  width: 304px;
  height: 174px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 18px;
}

.yt-mini-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.youtube-main {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.yt-main-img {
  display: flex;
  height: 366px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 32px;
}

/*
Видео - Конец
*/

/*
Соц Сети - Начало
*/

.social {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  background: #000;
}

.social-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.social-icon {
  display: flex;
  padding: 0px 50px;
  align-items: flex-start;
  gap: 32px;
}

.social-icon-img {
  width: 75px;
  height: 75px;
}
/*
Соц Сети - Конец
*/

/*
FAQ - Начало
*/

.faq-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

details {
  width: 900px;
}

summary::-webkit-details-marker {
  display: none;
}
summary::-moz-list-bullet {
  list-style-type: none;
}
summary::marker {
  display: none;
}
summary {
  display: block;
  cursor: pointer;
  position: relative;
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  gap: 32px;
  color: #000;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

details[open] > summary:before {
  transform: scale(1, -1);
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.faq-text {
  color: #000;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}

/*
FAQ - Конец
*/
