.why-payoneer-section {
  &__content {
    display: flex;
    gap: 1.8rem;

    @include respond(tab-port) {
      flex-direction: column;
    }

    &-left {
      display: flex;
      flex-wrap: wrap;
      gap: 1.8rem;
    }

    &-right {
      min-width: 40%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.8rem;
    flex: 1;
    padding: 1.8rem;
    border-radius: 3.2rem;

    font-size: 1.8rem;
    font-weight: 500;

    overflow: hidden;

    &-service {
      flex-basis: 30rem;
      color: $white;
      background-color: $blue;
      justify-content: center;
      gap: 2rem;

      & > img {
        max-width: 7rem;
        filter: invert(1);
      }
    }

    &-method {
      flex-basis: 42rem;
      color: $white;
      background-color: $black;
      justify-content: center;
      gap: 2rem;

      & > img {
        max-width: 7rem;
        filter: invert(1);
      }
    }

    &-comission {
      flex-basis: 19rem;

      background-color: #eaeaea;

      & > span {
        font-size: 200%;
        font-weight: 800;
        background: linear-gradient(90deg, #39d9ff, #ffc700);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &-union {
      flex: 1 1 19rem;

      display: flex;
      flex-direction: column;
      gap: 1.8rem;

      & > div {
        padding: 1.8rem;
        border-radius: 1.8rem;
        gap: 0.5rem;
        & > span {
          font-size: 200%;
          font-weight: 900;
        }
      }

      & > div:nth-child(1) {
        background-color: #eaeaea;
      }
      & > div:nth-child(2) {
        color: $white;
        background-color: $black;
      }
    }

    &-crypto {
      flex-basis: 32rem;
      gap: 0;
      background-color: #eaeaea;

      & > div {
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: 1.8rem;

        border-radius: 1.8rem;
        padding: 1rem 2.5rem;
        max-width: fit-content;

        color: $white;
        background-color: $blue;

        font-size: 2.5rem;
        letter-spacing: 0.2rem;
        font-weight: 900;
      }
    }

    &-map {
      flex-basis: 34rem;

      position: relative;
      padding: 0;

      min-height: 100%;

      background-color: transparent;

      font-size: 3.2rem;
      font-weight: 800;

      @include respond(tab-port) {
        min-height: 24rem;
      }

      // & > p {
      //   padding: 2rem;
      //   backdrop-filter: blur(1rem);
      // }

      & > img {
        position: absolute;
        inset: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}
