.why-unblock-section {
  font-size: 1.8rem;
  text-align: center;
  &__content {
    display: flex;
    // flex-wrap: wrap;
    gap: 1.8rem;

    @include respond(tab-port) {
      flex-direction: column;
    }
    & > div {
      gap: 1.8rem;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
    }

    &-right {
      flex-direction: column;
      min-width: 30%;
      height: 100%;

      & > div:nth-child(1) {
        flex: 1 1 40rem;
      }

      & > div:nth-child(2) {
        flex: 1 1 20rem;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    flex: 1 1 23rem;
    padding: 1.8rem;

    border-radius: 1.8rem;
    color: $white;
    background-color: $black;

    font-weight: 500;

    overflow: hidden;

    &-union {
      display: flex;
      flex-direction: column;
      flex: 1 1 40rem;
      gap: 1.8rem;
      padding: 0;
      background-color: transparent;

      & > div {
        border-radius: 1.8rem;
      }

      & > div:nth-child(1) {
        width: 100%;
        padding: 1.8rem;
        background-color: $black;

        & > span {
          text-transform: uppercase;
          font-weight: 800;

          background: linear-gradient(90deg, #39d9ff, #ffc700);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &-bottom {
        flex-basis: 32rem;
        & > div:nth-child(1) {
          background-color: #eaeaea;
        }
        & > div:nth-child(2) {
          padding: 1rem;
        }
      }
    }

    &-subunion {
      display: flex;
      flex: 1 1;

      justify-content: center;
      align-items: center;
      gap: 1.8rem;

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex: 1 1 21rem;
        padding: 1.8rem;
        border-radius: 1.8rem;

        & > span {
          font-size: 150%;
          font-weight: 900;
        }
      }

      & > div:nth-child(1) {
        align-self: stretch;
        color: $black;
        background-color: #eaeaea;
      }
      & > div:nth-child(2) {
        color: $white;
        background-color: $blue;
      }
    }

    &-connection {
      flex-basis: 20rem;
      align-self: stretch;
    }

    &-users {
      color: $white;
      background-color: $blue;

      & > span {
        margin: 0.5rem 0;
        font-size: 150%;

        text-transform: uppercase;
        font-weight: 800;

        background: linear-gradient(90deg, #39d9ff, #ffc700);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &-support {
      font-size: 2.5rem;

      & > span {
        margin-top: 0.5rem;
        font-size: 150%;
        font-weight: 800;
        // letter-spacing: 0.3rem;
      }
    }
  }
}
