<section class="service-slide slide-3 u-margin-bottom-section">
  <div class="text-content">
    <p class="heading-primary instruments-heading u-text-white">
      Получи полный доступ к платежной системе Payoneer
    </p>
    <div class="tags">
      <span class="tag">payoneer</span>
      <span class="tag">регистрация payoneer</span>
      <span class="tag">вывод средств</span>
    </div>
  </div>
  <div class="image-content">
    <div class="left">
      <picture>
        <source
          srcset="./assets/img/dist/services-slide-3-1.webp"
          type="image/webp"
        />
        <img
          src="./assets/img/dist/services-slide-3-1.png"
          alt="journey-icon"
        />
      </picture>
      <picture>
        <source
          srcset="./assets/img/dist/services-slide-3-2.webp"
          type="image/webp"
        />
        <img
          src="./assets/img/dist/services-slide-3-2.png"
          alt="journey-icon"
        />
      </picture>
    </div>
    <div class="center">
      <picture>
        <source
          srcset="./assets/img/dist/services-slide-3-3.webp"
          type="image/webp"
        />
        <img
          src="./assets/img/dist/services-slide-3-3.png"
          alt="journey-icon"
        />
      </picture>
    </div>
    <div class="right">
      <picture>
        <source
          srcset="./assets/img/dist/services-slide-3-4.webp"
          type="image/webp"
        />
        <img
          src="./assets/img/dist/services-slide-3-4.png"
          alt="journey-icon"
        />
      </picture>
      <picture>
        <source
          srcset="./assets/img/dist/services-slide-3-5.webp"
          type="image/webp"
        />
        <img
          src="./assets/img/dist/services-slide-3-5.png"
          alt="journey-icon"
        />
      </picture>
    </div>
  </div>
</section>
