<section class="service-slide slide-6 u-margin-bottom-section">
  <div class="text-content">
    <p class="heading-primary instruments-heading u-text-white">
      Лучшие инструменты для дизайнера снова доступны
    </p>
    <div class="tags">
      <span class="tag">На UpWork с 2018 года</span>
    </div>
  </div>
  <div class="image-content">
    <picture class="first">
      <source
        srcset="./assets/img/dist/services-slide-6-2.webp"
        type="image/webp"
      />
      <img
        data-lazy="./assets/img/dist/services-slide-6-2.png"
        alt="journey-icon"
      />
    </picture>

    <picture class="second">
      <source
        srcset="./assets/img/dist/services-slide-6-1.webp"
        type="image/webp"
      />
      <img
        data-lazy="./assets/img/dist/services-slide-6-1.png"
        alt="journey-icon"
      />
    </picture>
  </div>
</section>
