<section class="service-slide slide-7 u-margin-bottom-section">
  <div class="text-content">
    <p class="heading-primary instruments-heading u-text-white">
      Товарный бизнес через Shopify или Etsy снова с вами
    </p>
    <div class="tags">
      <span class="tag">shopify</span>
      <span class="tag">amazon</span>
      <span class="tag">etsy</span>
    </div>
  </div>
  <div class="image-content">
    <picture>
      <source
        srcset="./assets/img/dist/services-slide-7.webp"
        type="image/avif"
      />
      <source
        srcset="./assets/img/dist/services-slide-7.webp"
        type="image/webp"
      />
      <img
        decoding="async"
        data-lazy="./assets/img/dist/services-slide-7.png"
        alt="journey-icon"
      />
    </picture>
  </div>
</section>
