<li class="service-slide splide__slide slide-1">
  <div class="text-content">
    <p class="heading-primary instruments-heading u-text-white">
      Начни свой путь на зарубежном фрилансе
    </p>
    <div class="tags">
      <span class="tag">upwork</span>
    </div>
  </div>
  <div class="image-content">
    <div class="small">
      <picture>
        <source srcset="./assets/img/dist/upwork-logo.avif" type="image/avif" />
        <source srcset="./assets/img/dist/upwork-logo.webp" type="image/webp" />
        <img
          fetchpriority="high"
          src="./assets/img/dist/upwork-logo.png"
          alt="upwork-icon"
        />
      </picture>
    </div>
    <div class="big">
      <picture>
        <source
          media="(max-width: 600px)"
          srcset="./assets/img/dist/upwork-landing-mobile.avif"
          type="image/avif"
        />
        <source
          media="(max-width: 600px)"
          srcset="./assets/img/dist/upwork-landing-mobile.webp"
          type="image/webp"
        />
        <source
          media="(max-width: 1100px)"
          srcset="./assets/img/dist/upwork-landing-tablet.avif"
          type="image/avif"
        />
        <source
          media="(max-width: 1100px)"
          srcset="./assets/img/dist/upwork-landing-tablet.webp"
          type="image/webp"
        />
        <source
          srcset="./assets/img/dist/upwork-landing.avif"
          type="image/avif"
        />
        <source
          srcset="./assets/img/dist/upwork-landing.webp"
          type="image/webp"
        />
        <img
          loading="eager"
          fetchpriority="high"
          width="480"
          src="./assets/img/dist/upwork-landing.png"
          alt="journey-icon"
        />
      </picture>
    </div>
  </div>
</li>
