<section class="service-slide slide-2 u-margin-bottom-section">
  <div class="text-content">
    <p class="heading-primary instruments-heading u-text-white">
      Начни свой путь на зарубежном фрилансе
    </p>
    <div class="tags">
      <span class="tag">fiverr</span>
    </div>
  </div>
  <div class="image-content">
    <picture>
      <source
        srcset="./assets/img/dist/services-slide-2.webp"
        type="image/webp"
      />
      <img
        data-lazy="./assets/img/dist/services-slide-2.png"
        alt="journey-icon"
      />
    </picture>
  </div>
</section>
