<section class="service-slide slide-4 u-margin-bottom-section">
  <div class="text-content">
    <p class="heading-primary instruments-heading u-text-white">
      Передовые ИИ сервисы теперь доступны
    </p>
    <div class="tags">
      <span class="tag">dall-E</span>
      <span class="tag">chat gpt-4</span>
      <span class="tag">midjorney</span>
      <span class="tag">leonardo</span>
    </div>
  </div>
  <div class="image-content">
    <picture>
      <source
        srcset="./assets/img/dist/services-slide-4.webp"
        type="image/webp"
      />
      <img
        data-lazy="./assets/img/dist/services-slide-4.png"
        alt="journey-icon"
      />
    </picture>
  </div>
</section>
