<section class="service-slide slide-5 u-margin-bottom-section">
  <div class="text-content">
    <p class="heading-primary instruments-heading u-text-white">
      Управляй рекламой в Google ADs и Facebook без ограничений
    </p>
    <div class="tags">
      <span class="tag">google ads</span>
      <span class="tag">facebook ads</span>
    </div>
  </div>
  <div class="image-content">
    <picture>
      <source
        srcset="./assets/img/dist/services-slide-5.avif"
        type="image/avif"
      />
      <source
        srcset="./assets/img/dist/services-slide-5.webp"
        type="image/webp"
      />
      <img
        decoding="async"
        data-lazy="./assets/img/dist/services-slide-5.png"
        alt="journey-icon"
      />
    </picture>
  </div>
</section>
