<section class="journey u-margin-bottom-section">
  <div class="text-content">
    <p class="heading-primary instruments-heading u-text-white">
      Начни свой путь на зарубежном фрилансе
    </p>
    <div class="tags">
      <span class="tag">upwork</span>
    </div>
  </div>
  <div class="image-content">
    <div class="small">
      <img src="./assets/img/dist/icons/upwork-logo.svg" alt="upwork-icon" />
    </div>
    <div class="big">
      <picture>
        <source srcset="./assets/img/dist/journey.webp" type="image/webp" />
        <img src="./assets/img/dist/journey.png" alt="journey-icon" />
      </picture>
    </div>
  </div>
</section>
