header {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 5rem 0;
  font-weight: 400;

  @include respond(tab-port) {
    padding-bottom: 3.2rem;
  }
}

.header-logo {
  position: relative;
  z-index: 1000;
  padding: 1rem;
  font-size: 2.5rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 1rem;
  gap: 5.5rem;
  margin-left: auto;
  font-size: 1.8rem;

  &__mobile {
    display: none;
    max-width: fit-content;
    margin-left: auto;
    margin-right: 2.4rem;
    margin-top: 15rem;
    text-align: right;
    @include respond(tab-port) {
      position: relative;

      display: flex;
      flex-direction: column;
      // align-items: flex-end;

      gap: 4rem;

      // z-index: 1000;
      font-size: 2.5rem;

      // right: 3.5rem;
      // top: 13rem;
    }
  }

  @include respond(tab-port) {
    display: none;
  }

  &__item {
    display: block;
  }

  &__link {
    color: #000;
    font-weight: 400;
  }
}

.mobile-menu {
  position: relative;
  display: none;
  margin-left: auto;

  @include respond(tab-port) {
    display: block;
  }
}

.checkbox-box {
  width: 3.2rem;
  height: 3.2rem;
  background: url("../assets/img/dist/icons/burger.svg") no-repeat center center;
}

.mobile-menu {
  & > .checkbox {
    appearance: none;
  }
  & > label > div {
    position: relative;
    z-index: 1000;
  }
  & > .checkbox:checked ~ label > div {
    background: url("../assets/img/dist/icons/close.svg") no-repeat;
    background-position: center center;
  }
  & > .checkbox:checked ~ .background {
    left: 0;
  }

  & > .background {
    position: fixed;
    inset: 0;
    left: 100%;
    height: 100%;
    background-color: $white;
    transition: 0.3s ease-in-out;
  }
}
