<section class="blog-section u-margin-bottom-section">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">
    Наш полезный блог
  </h1>
  <div class="blog-section__content">
    <div class="blog-section__huge-block">
      <div class="blog-section__huge-block__content">
        <span class="blog-section__chip">Психология</span>
        <div class="blog-section__bottom-block">
          <h2 class="huge-paragraph">
            Как фрилансеру сохранить свою психику и не выгореть
          </h2>
          <a href="blog-article.html" class="blog-section__btn-link">Читать</a>
        </div>
      </div>
    </div>
    <div class="blog-section__right-blocks">
      <div class="blog-section__text">
        <h2 class="huge-paragraph u-text-white">
          Еще больше статей вы можете найти в нашем блоге
        </h2>
      </div>
      <div class="blog-section__arrow">
        <a class="blog-section__arrow-link" href="./blog.html">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="152"
            height="30"
            viewBox="0 0 152 30"
            fill="none"
          >
            <path
              d="M2 13C0.89543 13 0 13.8954 0 15C0 16.1046 0.89543 17 2 17V13ZM151.414 16.4142C152.195 15.6332 152.195 14.3668 151.414 13.5858L138.686 0.857864C137.905 0.0768156 136.639 0.0768156 135.858 0.857864C135.077 1.63891 135.077 2.90524 135.858 3.68629L147.172 15L135.858 26.3137C135.077 27.0948 135.077 28.3611 135.858 29.1421C136.639 29.9232 137.905 29.9232 138.686 29.1421L151.414 16.4142ZM2 17H150V13H2V17Z"
              fill="white"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
