<section class="community-section u-margin-bottom-section">
  <div class="community-section__content">
    <h1 class="community-section__heading u-text-center u-text-white">
      Ламповое и готовое помочь
      <a class="community-section__link" href="https://discord.gg/PertUXuZRb"
        >комьюнти</a
      >
    </h1>
  </div>

  <div class="community-section__video-block">
    <video
      playsinline
      muted="muted"
      autoplay="autoplay"
      loop="loop"
      class="community-vid"
    >
      <source src="./assets/img/dist/videos/TGChat.webm" type="video/webm" />
    </video>
  </div>
</section>
