<section class="courses u-margin-bottom-section">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">
    Полезные курсы от URelocate
  </h1>
  <div class="courses__content">
    <div class="chip__labels">
      <label for="courses-tag-1" class="chip__label courses__label"
        >Регистрация на UpWork</label
      >
      <label for="courses-tag-2" class="chip__label courses__label">
        Разблокировка аккаунта UpWork
      </label>
      <label for="courses-tag-3" class="chip__label courses__label"
        >Вывод денег с UpWork</label
      >
    </div>

    <div class="view__content courses__view__content">
      <div class="courses-view__rbs">
        <input
          class="view__rb courses-view__rb"
          type="radio"
          name="radio"
          id="courses-tag-1"
          checked
        />
        <input
          class="view__rb courses-view__rb"
          type="radio"
          name="radio"
          id="courses-tag-2"
        />
        <input
          class="view__rb courses-view__rb"
          type="radio"
          name="radio"
          id="courses-tag-3"
        />
      </div>

      <div class="view__text courses__text">
        <h2 class="course-view-heading heading-secondary">
          Подробнейший курс по старту на UpWork
        </h2>
        <p class="course-view-paragraph big-paragraph">
          Полный гайд по быстрому старту на UpWork. Внутри основы работы,
          полезные советы, подводные камни, памятки и таблицы, а так же очень
          много текстовых и видео гайдов.
        </p>
        <a href="#" class="view__btn view-course-link">Приобрести курс</a>
      </div>
      <div class="view__video-block courses__video-block">
        <video
          playsinline
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="course-view__video view__video"
        >
          <source
            class="view-videoSrc course-view-videoSrc"
            src="./assets/img/dist/videos/PayoneerPrvw.webm"
            type="video/webm"
          />
        </video>
      </div>
    </div>
  </div>
</section>
