<section id="clients" class="feedback u-margin-bottom-section">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">
    Нам доверяют свои аккаунты
  </h1>
  <div class="swiper u-margin-bottom-heading">
    <div class="swiper__container"></div>
  </div>
  <div class="swiper__controls">
    <button class="swiper__control">
      <img src="./assets/img/dist/icons/left-chevrone.svg" alt="left" />
    </button>
    <button class="swiper__control">
      <img src="./assets/img/dist/icons/right-chevrone.svg" alt="right" />
    </button>
  </div>
</section>
