<section id="clients" class="feedback u-margin-bottom-section">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">
    Нам доверяют свои аккаунты
  </h1>
  <div class="swiper u-margin-bottom-heading">
    <div class="swiper__container">
      <div class="swiper__card">
        <picture class="swiper__picture">
          <source type="image/webp" srcset="./assets/img/dist/mishel.webp" />
          <img src="./assets/img/dist/mishel.jpg" alt="user-photo" />
        </picture>
      </div>
      <div class="swiper__card">
        <div class="swiper__card-content">
          <h2 class="swiper__card-header">
            <span>Мишель</span> | Менеджер по продажам и маркетинг
          </h2>
          <p class="swiper__card-main">
            1,5 года на UpWork Заработок более $30.000
          </p>
          <p class="swiper__card-footer">
            “Ребята профессионалы с большой буквы! Провели за ручку по всем
            этапам и ответили на все вопросы”
          </p>
        </div>
        <picture class="swiper__picture">
          <source type="image/webp" srcset="./assets/img/dist/mishel.webp" />
          <img src="./assets/img/dist/mishel.jpg" alt="user-photo" />
        </picture>
      </div>

      <!-- <div class="swiper__card">
        <img src="" alt="user-photo" />
      </div>
      <div class="swiper__card">
        <img src="" alt="user-photo" />
      </div> -->
    </div>
  </div>
  <div class="swiper__controls">
    <button class="swiper__control">
      <img src="./assets/img/dist/icons/left-chevrone.svg" alt="left" />
    </button>
    <button class="swiper__control">
      <img src="./assets/img/dist/icons/right-chevrone.svg" alt="right" />
    </button>
  </div>
</section>
