<section id="clients" class="feedback">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">
    Нам доверяют свои аккаунты
  </h1>

  <!-- SLICK LIB -->
  <div class="slick-wrapper">
    <div class="slick slick-feedback u-margin-bottom-heading">
      <div class="slick-slide">
        <div class="slick-slide-content">
          <h2 class="slick-slide-header">
            <span>Вероника</span> | Видеомонтажер
          </h2>
          <p class="slick-slide-main">
            3 года на апворк, заработок более 40000$
          </p>
          <p class="slick-slide-footer">
            “Еще в 22 году пыталась самостоятельно разблокировать свой профиль
            UpWork и чуть было не «наломала дров». Доверилась Urelocate еще в
            самом начале их пути и за 2 года ни разу не пожалела об этом!”
          </p>
        </div>
        <picture class="slick__picture">
          <source type="image/webp" srcset="./assets/img/dist/veronica.webp" />
          <img
            decoding="async"
            data-lazy="./assets/img/dist/veronica.png"
            alt="user-photo"
          />
        </picture>
      </div>

      <div class="slick-slide">
        <div class="slick-slide-content">
          <h2 class="slick-slide-header">
            <span>Мишель</span> | Менеджер по продажам и маркетинг
          </h2>
          <p class="slick-slide-main">
            1,5 года на UpWork Заработок более $30.000
          </p>
          <p class="slick-slide-footer">
            “Ребята профессионалы с большой буквы! Провели за ручку по всем
            этапам и ответили на все вопросы”
          </p>
        </div>
        <picture class="slick__picture">
          <source type="image/webp" srcset="./assets/img/dist/mishele.webp" />
          <img
            decoding="async"
            data-lazy="./assets/img/dist/mishele.png"
            alt="user-photo"
          />
        </picture>
      </div>
      <div class="slick-slide">
        <div class="slick-slide-content">
          <h2 class="slick-slide-header">
            <span>Борис</span> | разработка VPN - приложений
          </h2>
          <p class="slick-slide-main">
            6 месяцев на Upwork, заработок более 60000$
          </p>
          <p class="slick-slide-footer">
            “Некоторое время работал на российском фрилансе и ребята из
            Urelocate стали настоящей находкой для меня! Благодаря ним открыл
            для себя доступ к UpWork и чуть более чем за 6 месяц смог стать
            одним из самых успешных фрилансеров в своей нише. Спасибо за
            возможность!”
          </p>
        </div>
        <picture class="slick__picture">
          <source type="image/webp" srcset="./assets/img/dist/boris.webp" />
          <img
            decoding="async"
            data-lazy="./assets/img/dist/boris.jpg"
            alt="user-photo"
          />
        </picture>
      </div>
      <div class="slick-slide">
        <div class="slick-slide-content">
          <h2 class="slick-slide-header"><span>Анастасия</span> | Дизайнер</h2>
          <p class="slick-slide-main">
            6 лет на UpWork Заработок более $100.000
          </p>
          <p class="slick-slide-footer">
            “После блокировки UpWork несколько месяцев искала решение, однако
            все попытки были неудачны. После всех мучений, когда нашла этот
            сервис - не могла поверить, что все получится Urelocate-это
            настоящая находка, рекомендую”
          </p>
        </div>
        <picture class="slick__picture">
          <source type="image/webp" srcset="./assets/img/dist/anastasia.webp" />
          <img
            decoding="async"
            data-lazy="./assets/img/dist/anastasia.jpg"
            alt="user-photo"
          />
        </picture>
      </div>
      <div class="slick-slide">
        <div class="slick-slide-content">
          <h2 class="slick-slide-header">
            <span>Антон</span> | Fullstack Web Dev
          </h2>
          <p class="slick-slide-main">
            2 года на UpWork Заработок более $30.000
          </p>
          <p class="slick-slide-footer">
            “Отличный сервис для работы, быстрая поддержка, и в целом видно, что
            стараются помочь всем у кого возникают вопросы. При наличии такого
            ресурса вам доступны все сервисы из санкционного списка”
          </p>
        </div>
        <picture class="slick__picture">
          <source type="image/webp" srcset="./assets/img/dist/anton.webp" />
          <img
            decoding="async"
            data-lazy="./assets/img/dist/anton.jpg"
            alt="user-photo"
          />
        </picture>
      </div>
      <div class="slick-slide">
        <div class="slick-slide-content">
          <h2 class="slick-slide-header">
            <span>Сергей</span> | UX/UI, Дизайнер
          </h2>
          <p class="slick-slide-main">
            На UpWork с 2018 года Заработок более $150.000
          </p>
          <p class="slick-slide-footer">
            “Нравится как работают ребята, все чётко, быстро и без каких-либо
            проблем! Если возникают вопросы, то всегда помогают. Рекомендовал
            вас уже многим своим знакомым, да и буду дальше рекомендовать! ”
          </p>
        </div>
        <picture class="slick__picture">
          <source type="image/webp" srcset="./assets/img/dist/serge.webp" />
          <img
            decoding="async"
            data-lazy="./assets/img/dist/mishel.jpg"
            alt="user-photo"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
