<section class="instruments u-margin-bottom-section">
  <div class="text-content">
    <p class="heading-primary u-text-white">
      Лучшие инструменты для дизайна снова доступны
    </p>
    <div class="tags">
      <div>Envato</div>
      <div>Canva</div>
      <div>Shutterstock</div>
      <div>Figma</div>
      <div>Adobe</div>
      <div>AutoDesk</div>
    </div>
  </div>
  <div class="image-content">
    <video
      playsinline
      muted="muted"
      autoplay="autoplay"
      loop="loop"
      class="main-image-icon"
    >
      <source
        src="./assets/img/dist/videos/MainPageOne.webm"
        type="video/webm"
      />
    </video>
  </div>
</section>
