<section class="instructions u-margin-bottom-section">
  <h1 class="heading-primary u-text-center u-margin-bottom-heading">
    Полезные инструкции от URelocate
  </h1>
  <div class="instructions__chips u-margin-bottom-heading">
    <div class="chip__labels">
      <label for="tag-1" class="chip__label">Регистрация на UpWork</label>
      <label for="tag-2" class="chip__label">
        Разблокировка аккаунта UpWork
      </label>
      <label for="tag-3" class="chip__label">Вывод денег с UpWork</label>
      <label for="tag-4" class="chip__label">Регистрация Payoneer</label>
      <label for="tag-5" class="chip__label">Регистрация на Bybit</label>
      <label for="tag-6" class="chip__label">Оформление профиля UpWork</label>
    </div>
  </div>
  <div class="instructions__view">
    <div class="view__rbs">
      <input class="view__rb" type="radio" name="radio" id="tag-1" checked />
      <input class="view__rb" type="radio" name="radio" id="tag-2" />
      <input class="view__rb" type="radio" name="radio" id="tag-3" />
      <input class="view__rb" type="radio" name="radio" id="tag-4" />
      <input class="view__rb" type="radio" name="radio" id="tag-5" />
      <input class="view__rb" type="radio" name="radio" id="tag-6" />
    </div>
    <div class="view__content">
      <div class="view__text">
        <h2 class="view-heading heading-secondary">
          Поможет вам в регистрации нового акаунта на UpWork
        </h2>
        <p class="view-paragraph big-paragraph">
          Скачивайте нашу полезную инструкцию в формате PDF и начинайте свой
          путь на UpWork
        </p>
        <a href="#" class="view__btn view-inctruction-link"
          >Получить инструкцию</a
        >
      </div>
      <div class="view__video-block">
        <video
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="view__video"
        >
          <source
            class="view-videoSrc"
            src="./../assets/img/dist/videos/PayoneerPrvw.webm"
            type="video/webm"
          />
        </video>
      </div>
    </div>
  </div>
</section>

<!-- <div class="instr">
  <div class="instr-tags">
    <label for="tag-1-instr" class="btn_">Регистрация на UpWork</label>
    <label for="tag-2-instr" class="btn_"
      >Разблокировка аккаунта UpWork</label
    >
    <label for="tag-3-instr" class="btn_">Вывод денег с UpWork</label>
    <label for="tag-4-instr" class="btn_">Регистрация Payoneer</label>
    <label for="tag-5-instr" class="btn_">Регистрация на Bybit</label>
    <label for="tag-6-instr" class="btn_"
      >Оформление профиля UpWork</label
    >
  </div>
  <div class="instr-view">
    <input type="radio" name="radio" id="tag-1-instr" checked />
    <input type="radio" name="radio" id="tag-2-instr" />
    <input type="radio" name="radio" id="tag-3-instr" />
    <input type="radio" name="radio" id="tag-4-instr" />
    <input type="radio" name="radio" id="tag-5-instr" />
    <input type="radio" name="radio" id="tag-6-instr" />

    <div class="tag-1-instr">
      <div class="instr-tag-left">
        <div class="instr-tag-text">
          <p class="b2-b">
            Поможет вам в регистрации нового акаунта на UpWork
          </p>
          <h4-1-l
            >Скачивайте нашу полезную инструкцию в формате PDF и
            начинайте свой путь на UpWork</h4-1-l
          >
        </div>
        <div class="instr-tag-button">Получить инструкцию</div>
      </div>
      <div class="instr-tag-right">
        <video
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="instr-tag-right"
        >
          <source src="./images/PayoneerPrvw.webm" type="video/webm" />
          <source
            src="/images/videos/video-main.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>

    <div class="tag-2-instr">
      <div class="instr-tag-left">
        <div class="instr-tag-text">
          <p class="b2-b">
            Поможет вам в регистрации нового акаунта на UpWork
          </p>
          <h4-1-l
            >Скачивайте нашу полезную инструкцию в формате PDF и
            начинайте свой путь на UpWork</h4-1-l
          >
        </div>
        <div class="instr-tag-button">Получить инструкцию</div>
      </div>
      <div class="instr-tag-right">
        <video
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="instr-tag-right"
        >
          <source src="./images/UServer.webm" type="video/webm" />
          <source
            src="/images/videos/video-main.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>

    <div class="tag-3-instr">
      <div class="instr-tag-left">
        <div class="instr-tag-text">
          <p class="b2-b">
            Поможет вам в регистрации нового акаунта на UpWork
          </p>
          <h4-1-l
            >Скачивайте нашу полезную инструкцию в формате PDF и
            начинайте свой путь на UpWork</h4-1-l
          >
        </div>
        <div class="instr-tag-button">Получить инструкцию</div>
      </div>
      <div class="instr-tag-right">
        <video
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="instr-tag-right"
        >
          <source src="./images/PayoneerPrvw.webm" type="video/webm" />
          <source
            src="/images/videos/video-main.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>

    <div class="tag-4-instr">
      <div class="instr-tag-left">
        <div class="instr-tag-text">
          <p class="b2-b">
            Поможет вам в регистрации нового акаунта на UpWork
          </p>
          <h4-1-l
            >Скачивайте нашу полезную инструкцию в формате PDF и
            начинайте свой путь на UpWork</h4-1-l
          >
        </div>
        <div class="instr-tag-button">Получить инструкцию</div>
      </div>
      <div class="instr-tag-right">
        <video
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="instr-tag-right"
        >
          <source src="./images/UServer.webm" type="video/webm" />
          <source
            src="/images/videos/video-main.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>

    <div class="tag-5-instr">
      <div class="instr-tag-left">
        <div class="instr-tag-text">
          <p class="b2-b">
            Поможет вам в регистрации нового акаунта на UpWork
          </p>
          <h4-1-l
            >Скачивайте нашу полезную инструкцию в формате PDF и
            начинайте свой путь на UpWork</h4-1-l
          >
        </div>
        <div class="instr-tag-button">Получить инструкцию</div>
      </div>
      <div class="instr-tag-right">
        <video
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="instr-tag-right"
        >
          <source src="./images/PayoneerPrvw.webm" type="video/webm" />
          <source
            src="/images/videos/video-main.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>

    <div class="tag-6-instr">
      <div class="instr-tag-left">
        <div class="instr-tag-text">
          <p class="b2-b">
            Поможет вам в регистрации нового акаунта на UpWork
          </p>
          <h4-1-l
            >Скачивайте нашу полезную инструкцию в формате PDF и
            начинайте свой путь на UpWork</h4-1-l
          >
        </div>
        <div class="instr-tag-button">Получить инструкцию</div>
      </div>
      <div class="instr-tag-right">
        <video
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="instr-tag-right"
        >
          <source src="./images/UServer.webm" type="video/webm" />
          <source
            src="/images/videos/video-main.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
</div> -->
