<section class="ref-program-section u-margin-bottom-section">
  <div class="ref-program-section__content u-text-white">
    <h1 class="heading-secondary">Реферальная программа</h1>
    <p class="big-paragraph">
      Мы всегда открыты к новому сотрудничеству и готовы обсудить с вами
      индивидуальные условия реферальной системы. Приводите к нам ваших друзей и
      коллег-фрилансеров и получайте индивидуальные скидки и другие приятные
      бонусы. Для более подробного обсуждения свяжитесь с нашим менеджером
    </p>
  </div>
  <div class="ref-program-section__image">
    <picture>
      <source src="../../assets/img/dist/referral.webp" type="image/webp" />
      <img src="../../assets/img/dist/referral.png" alt="ref-program-image" />
    </picture>
  </div>
</section>

<!-- <b class="b1">Реферальная система</b>
<div class="referral-prog">
  <div class="referral-text">
    <b class="b1-w">Реферальная программа</b>
    <h4-2w-c
      >Мы всегда открыты к новому сотрудничеству и готовы обсудить с вами
      индивидуальные условия реферальной системы. Приводите к нам ваших друзей и
      коллег-фрилансеров и получайте индивидуальные скидки и другие приятные
      бонусы. Для более подробного обсуждения свяжитесь с нашим
      менеджером</h4-2w-c
    >
  </div>
  <div class="referral-img">
    <img class="ref-img" src="images/referral.webp" />
  </div>
</div> -->
