<section class="services u-margin-bottom-section">
  <h1
    id="services"
    class="heading-secondary u-text-center u-margin-bottom-heading"
  >
    Наши услуги
  </h1>
  <div class="services__list">
    <div class="services__item">
      <div class="services__preview">
        <video
          playsinline
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="prod-icon-cont"
        >
          <source
            src="./assets/img/dist/videos/UServerPrvw.webm"
            type="video/webm"
          />
        </video>
      </div>
      <div class="services__content u-text-white">
        <h3 class="heading-tertiary u-margin-bottom-paragraph">
          Уникальный UServer для обхода блокировок
        </h3>

        <p class="paragraph u-margin-bottom-heading">
          UServer - надежный и простой в подключении инструмент, который
          помогает безопасно обходить блокировки зарубежных сервисов. Домашний
          ip-адрес позволяет полноценно имитировать нахождение в другой стране
        </p>

        <div class="services__price">
          <div class="services__price-offer">
            <span class="services__price-past">от $59</span>
            <span class="services__price-present">$49</span>
            <span class="services__sale">-17%</span>
          </div>
        </div>

        <div class="services__btns u-margin-top-paragraph u-text-white">
          <button class="services__btn">
            <a href="/#customer-form">Оставить заявку</a>
          </button>
          <button class="services__btn services__more">
            <a href="./userver.html"> Подробнее </a>
          </button>
        </div>
      </div>
    </div>

    <div class="services__item">
      <div class="services__preview">
        <video
          playsinline
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="prod-icon-cont"
        >
          <source
            src="./assets/img/dist/videos/UDocsPreview1.webm"
            type="video/webm"
          />
        </video>
      </div>
      <div class="services__content u-text-white">
        <h3 class="heading-tertiary u-margin-bottom-paragraph">
          UDocs - документы для подтверждения локации
        </h3>

        <p class="paragraph u-margin-bottom-heading">
          После того как у вас появилось надежное подключение, вам понадобятся
          документы, чтобы подтвердить нахождение в другой стране. Вы получаете
          готовое решение для верификации на зарубежных сервисах.
        </p>

        <div class="services__price">
          <div class="services__price-offer">
            <span class="services__price-past">от $69</span>
            <span class="services__price-present">$55</span>
            <span class="services__sale">-20%</span>
          </div>
        </div>

        <div class="services__btns u-margin-top-paragraph u-text-white">
          <button class="services__btn">
            <a href="/#customer-form">Оставить заявку</a>
          </button>
          <button class="services__btn services__more">
            <a href="./udocs.html"> Подробнее </a>
          </button>
        </div>
      </div>
    </div>

    <div class="services__item">
      <div class="services__preview">
        <video
          playsinline
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="prod-icon-cont"
        >
          <source
            src="./assets/img/dist/videos/UpFivPrvw.webm"
            type="video/webm"
          />
        </video>
      </div>
      <div class="services__content u-text-white">
        <h3 class="heading-tertiary u-margin-bottom-paragraph">
          Регистрация/разблокировка на UpWork и Fiverr
        </h3>

        <p class="paragraph u-margin-bottom-heading">
          Мы проведем вас по всем этапам регистрации нового или разблокировки
          действующего аккаунта UpWork/Fiverr. Услуга состоит из: документов для
          подтверждения локации и месячной аренды UServer
        </p>

        <div class="services__price">
          <div class="services__price-offer">
            <span class="services__price-past">от $129</span>
            <span class="services__price-present">$89</span>
            <span class="services__sale">-31%</span>
          </div>
        </div>

        <div class="services__btns u-margin-top-paragraph u-text-white">
          <button class="services__btn">
            <a href="/#customer-form">Оставить заявку</a>
          </button>
          <button class="services__btn services__more">
            <a href="./unblock.html"> Подробнее </a>
          </button>
        </div>
      </div>
    </div>

    <div class="services__item">
      <div class="services__preview">
        <video
          playsinline
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="prod-icon-cont"
        >
          <source
            src="./assets/img/dist/videos/PayoneerPrvw.webm"
            type="video/webm"
          />
        </video>
      </div>
      <div class="services__content u-text-white">
        <h3 class="heading-tertiary u-margin-bottom-paragraph">
          Регистрация Payoneer
        </h3>

        <p class="paragraph u-margin-bottom-heading">
          Вывод средств напрямую на карты РФ, невозможен, однако создание
          аккаунта Payoneer является актуальным решением. Услуга состоит из:
          документов для подтверждения локации и месячной аренды UServer
        </p>

        <div class="services__price">
          <div class="services__price-offer">
            <span class="services__price-past">от $119</span>
            <span class="services__price-present">$85</span>
            <span class="services__sale">-30%</span>
          </div>
        </div>

        <div class="services__btns u-margin-top-paragraph u-text-white">
          <button class="services__btn">
            <a href="/#customer-form">Оставить заявку</a>
          </button>
          <button class="services__btn services__more">
            <a href="./payoneer.html"> Подробнее </a>
          </button>
        </div>
      </div>
    </div>

    <div class="services__item">
      <div class="services__preview">
        <video
          playsinline
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="prod-icon-cont"
        >
          <source
            src="./assets/img/dist/videos/UServerPrvw.webm"
            type="video/webm"
          />
        </video>
      </div>
      <div class="services__content u-text-white">
        <h3 class="heading-tertiary u-margin-bottom-paragraph">
          Разбор вашего профиля UpWork
        </h3>

        <p class="paragraph u-margin-bottom-heading">
          Если вы столкнулись с неутешительными результатами на бирже UpWork, то
          скорее всего вы допустили ошибку в оформлении профиля и ваших
          откликах. При заказе услуги вы получите необходимые рекомендации и
          сможете зарабатывать на бирже UpWork
        </p>

        <div class="services__price">
          <div class="services__price-offer">
            <span class="services__price-past">от $79</span>
            <span class="services__price-present">$49</span>
            <span class="services__sale">-51%</span>
          </div>
        </div>

        <div class="services__btns u-margin-top-paragraph u-text-white">
          <button class="services__btn">
            <a href="/#customer-form">Оставить заявку</a>
          </button>
          <button class="services__btn services__more">
            <a href="./review.html"> Подробнее </a>
          </button>
        </div>
      </div>
    </div>

    <div class="services__item">
      <div class="services__preview">
        <video
          playsinline
          muted="muted"
          autoplay="autoplay"
          loop="loop"
          class="prod-icon-cont"
        >
          <source
            src="./assets/img/dist/videos/OtherPreview.webm"
            type="video/webm"
          />
        </video>
      </div>
      <div class="services__content u-text-white">
        <h3 class="heading-tertiary u-margin-bottom-paragraph">
          Доступ к прочим сервисам
        </h3>

        <p class="paragraph u-margin-bottom-heading">
          Envato, Facebook Ads, ChatGPT, Canva - вы получаете беспрепятственный
          доступ ко всем ресурсам, ограничивших свою работу в РФ и РБ. В случае
          необходимости подтверждения локации на данных сервисах воспользуйтесь
          нашей услугой UDocs
        </p>

        <div class="services__price">
          <div class="services__price-offer">
            <span class="services__price-past">от $59</span>
            <span class="services__price-present">$49</span>
            <span class="services__sale">-17%</span>
          </div>
        </div>

        <div class="services__btns u-margin-top-paragraph u-text-white">
          <button class="services__btn">
            <a href="/#customer-form">Оставить заявку</a>
          </button>
          <button class="services__btn services__more">
            <a href="./services.html"> Подробнее </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
