<section id="contacts" class="social-media-section u-margin-bottom-section">
  <div class="social-media-section__content">
    <div class="social-media-section__text">
      <h1 class="social-media-section-heading heading-primary u-text-white">
        Связь с нами и наши социальные сети
      </h1>
    </div>
    <div class="social-media-section__icons">
      <a href="https://t.me/upworkrelocate"
        ><img src="./assets/img/dist/TelegramLogo.webp"
      /></a>
      <a href="https://www.youtube.com/@URelocate"
        ><img src="./assets/img/dist/YouTubeLogo.webp"
      /></a>
      <a
        href="
      https://www.instagram.com/upwork.relocate/"
        ><img src="./assets/img/dist/InstagramLogo.webp"
      /></a>
      <a href="https://vk.com/urelocate"
        ><img src="./assets/img/dist/VKLogo.webp"
      /></a>
      <a href="https://discord.gg/PertUXuZRb"
        ><img src="./assets/img/dist/DiscordLogo.webp"
      /></a>
    </div>
  </div>
</section>
