<section id="contacts" class="u-margin-bottom-section">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">
    Связь с нами и наши социальные сети
  </h1>
  <div class="social-media-section__content">
    <h1 class="social-media-section-heading heading-primary u-text-white">
      Присоединяйтесь к нам в соц сетях
    </h1>

    <div class="social-media-section__icons">
      <a href="https://t.me/upworkrelocate">
        <picture>
          <source
            type="image/avif"
            srcset="./assets/img/dist/TelegramLogo.avif"
          />
          <source
            type="image/webp"
            srcset="./assets/img/dist/TelegramLogo.webp"
          />
          <img
            src="./assets/img/dist/TelegramLogo.png"
            alt="social-media-icon"
          />
        </picture>
      </a>
      <a href="https://www.youtube.com/@URelocate">
        <picture>
          <source
            type="image/avif"
            srcset="./assets/img/dist/YouTubeLogo.avif"
          />
          <source
            type="image/webp"
            srcset="./assets/img/dist/YouTubeLogo.webp"
          />
          <img
            src="./assets/img/dist/YouTubeLogo.png"
            alt="social-media-icon"
          />
        </picture>
      </a>
      <a href="https://www.instagram.com/upwork.relocate/">
        <picture>
          <source
            type="image/avif"
            srcset="./assets/img/dist/InstagramLogo.avif"
          />
          <source
            type="image/webp"
            srcset="./assets/img/dist/InstagramLogo.webp"
          />
          <img
            src="./assets/img/dist/InstagramLogo.png"
            alt="social-media-icon"
          />
        </picture>
      </a>
      <a href="https://vk.com/urelocate">
        <picture>
          <source type="image/avif" srcset="./assets/img/dist/VKLogo.avif" />
          <source type="image/webp" srcset="./assets/img/dist/VKLogo.webp" />
          <img src="./assets/img/dist/VKLogo.png" alt="social-media-icon" />
        </picture>
      </a>
      <a href="https://discord.gg/PertUXuZRb">
        <picture>
          <source
            type="image/avif"
            srcset="./assets/img/dist/DiscordLogo.avif"
          />
          <source
            type="image/webp"
            srcset="./assets/img/dist/DiscordLogo.webp"
          />
          <img
            src="./assets/img/dist/DiscordLogo.png"
            alt="social-media-icon"
          />
        </picture>
      </a>
    </div>
  </div>
</section>
