<section class="social-media-section u-margin-bottom-section">
  <div class="social-media-section__content">
    <div class="social-media-section__text">
      <h1 class="social-media-section-heading heading-primary u-text-white">
        Связь с нами и наши социальные сети
      </h1>
    </div>
    <div class="social-media-section__icons">
      <img
        class="social-icon-img"
        src="../../assets/img/dist//TelegramLogo.webp"
      />
      <img
        class="social-icon-img"
        src="../../assets/img/dist//YouTubeLogo.webp"
      />
      <img
        class="social-icon-img"
        src="../../assets/img/dist//InstagramLogo.webp"
      />
      <img class="social-icon-img" src="../../assets/img/dist//VKLogo.webp" />
      <img
        class="social-icon-img"
        src="../../assets/img/dist//DiscordLogo.webp"
      />
    </div>
  </div>
</section>

<!-- <b class="b1"></b>
<div class="social">
  <div class="social-text">
    <p class="txt-1">Присоединяйтесь к нам в соц сетях</p>
  </div>
  <div class="social-icon">
    <img class="social-icon-img" src="images/TelegramLogo.webp" />
    <img class="social-icon-img" src="images/YouTubeLogo.webp" />
    <img class="social-icon-img" src="images/InstagramLogo.webp" />
    <img class="social-icon-img" src="images/VKLogo.webp" />
    <img class="social-icon-img" src="images/DiscordLogo.webp" />
  </div>
</div> -->
