<section class="statistics">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">
    Немного интересной статистики
  </h1>
  <div class="statistics__grid u-margin-bottom-section">
    <div class="statistics__grid-item">
      <h2 class="u-text-center">Зачем вам нужен зарубежный фриланс?</h2>
    </div>
    <div class="statistics__grid-item">
      <video
        playsinline
        muted="muted"
        autoplay="autoplay"
        loop="loop"
        class="stats-vid"
      >
        <source
          src="./assets/img/dist/videos/UpFivPrvw.webm"
          type="video/webm"
        />
      </video>
    </div>
    <div class="statistics__grid-item">
      <div class="u-text-center">
        <h3 class="">&#62; 1 200 000</h3>
        <p>вакансий на UpWork и Fiverr публикуется в год</p>
      </div>
    </div>
    <div class="statistics__grid-item">
      <div class="u-text-center">
        <h3 class="">150-250К</h3>
        <p>среднестатистический заработок</p>
      </div>
    </div>
    <div class="statistics__grid-item">
      <div class="u-text-center">
        <h3>1320</h3>
        <p>профессий представлено на зарубежных фриланс биржах</p>
      </div>
    </div>
    <div class="statistics__grid-item">
      <div class="u-text-center">
        <h3 class="">более 2 лет</h3>
        <p>
          наш сервис работает и дает возможность зарабатывать на зарубежных
          фриланс биржах
        </p>
      </div>
    </div>
  </div>
</section>
