<section class="statistics">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">
    Немного интересной статистики
  </h1>
  <div class="statistics__grid u-margin-bottom-section">
    <div class="statistics__grid-item">
      <h2 class="u-text-center">Зачем вам нужен зарубежный фриланс?</h2>
    </div>
    <div class="statistics__grid-item">
      <video muted="muted" autoplay="autoplay" loop="loop" class="stats-vid">
        <source
          src="../../assets/img/dist/videos/UpFivPrvw.webm"
          type="video/webm"
        />
      </video>
    </div>
    <div class="statistics__grid-item">
      <div class="u-text-center">
        <h3 class="">&#62; 1 200 000</h3>
        <p>вакансий на UpWork и Fiverr публикуется в год</p>
      </div>
    </div>
    <div class="statistics__grid-item">
      <div class="u-text-center">
        <h3 class="">150-250К</h3>
        <p>среднестатистический заработок</p>
      </div>
    </div>
    <div class="statistics__grid-item">
      <div class="u-text-center">
        <h3>1320</h3>
        <p>профессий представлено на зарубежных фриланс биржах</p>
      </div>
    </div>
    <div class="statistics__grid-item">
      <div class="u-text-center">
        <h3 class="">более 2 лет</h3>
        <p>
          наш сервис работает и дает возможность зарабатывать на зарубежных
          фриланс биржах
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <b class="b1">Немного интересной статистики</b>
<div class="stats">
  <div class="stats-head">
    <div class="stats-head-text">
      ЗАЧЕМ ВАМ НУЖЕН ЗАРУБЕЖНЫЙ ФРИЛАНС?
    </div>
    <div class="stats-head-img">
      <video
        muted="muted"
        autoplay="autoplay"
        loop="loop"
        class="stats-vid"
      >
        <source src="./images/UpFivPrvw.webm" type="video/webm" />
        <source src="/images/videos/video-main.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
  <div class="stats-num">
    <div class="stats-1">
      <p class="stats-text-black">&#62; 1 200 000</p>
      <h4-2w>вакансий на UpWork и Fiverr публикуется в год</h4-2w>
    </div>
    <div class="stats-2">
      <p class="stats-text-fade">150-250К</p>
      <h4-2w>среднестатистический заработок</h4-2w>
    </div>
    <div class="stats-3">
      <p class="stats-text-black">1320</p>
      <h4-2bl
        >профессий представлено на зарубежных фриланс биржах</h4-2bl
      >
    </div>
    <div class="stats-4">
      <p class="stats-text-fade">БОЛЕЕ 2 ЛЕТ</p>
      <h4-2w
        >наш сервис работает и дает возможность зарабатывать на
        зарубежных фриланс биржах</h4-2w
      >
    </div>
  </div>
</div> -->
