<section class="videos-section u-margin-bottom-section">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">
    Наши видео
  </h1>
  <div class="videos-section__grid">
    <div class="videos-section__left">
      <div class="videos-section__grid-item">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/v7RVU4niBV8?si=ow4n9Kij7Vt61YFg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="videos-section__grid-item">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/v7RVU4niBV8?si=ow4n9Kij7Vt61YFg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="videos-section__grid-item">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/v7RVU4niBV8?si=ow4n9Kij7Vt61YFg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="videos-section__grid-item">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/v7RVU4niBV8?si=ow4n9Kij7Vt61YFg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="videos-section__grid-item videos-section__right">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/v7RVU4niBV8?si=ow4n9Kij7Vt61YFg"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>

<!-- <b class="b1">Наши видео</b>
<div class="youtube">
  <div class="youtube-mini">
    <a href=""
      ><img src="images/YTPreview3.webp" class="yt-mini-cover"
    /></a>
    <a href=""
      ><img src="images/YTPreview5.webp" class="yt-mini-cover"
    /></a>
    <a href=""
      ><img src="images/YTPreview2.webp" class="yt-mini-cover"
    /></a>
    <a href=""
      ><img src="images/YTPreview4.webp" class="yt-mini-cover"
    /></a>
  </div>
  <div class="youtube-main">
    <a href=""
      ><img src="images/YTPreview1.webp" class="yt-main-img"
    /></a>
  </div>
</div> -->
