<section class="videos-section u-margin-bottom-section">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">
    Наши видео
  </h1>
  <div class="videos-section__grid">
    <div class="videos-section__left">
      <div class="videos-section__grid-item">
        <iframe
          width="100%"
          loading="lazy"
          height="100%"
          src="https://www.youtube.com/embed/CkB9955Va6s?si=OcmawMTMA5DYxx31"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="videos-section__grid-item">
        <iframe
          width="100%"
          loading="lazy"
          height="100%"
          src="https://www.youtube.com/embed/1JMJbxLw0-c?si=8YGcGSM019kDugPp"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="videos-section__grid-item">
        <iframe
          width="100%"
          loading="lazy"
          height="100%"
          src="https://www.youtube.com/embed/m-J7QhTXXAU?si=wjXdVkI0cMa5ytgS"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="videos-section__grid-item">
        <iframe
          width="100%"
          loading="lazy"
          height="100%"
          src="https://www.youtube.com/embed/Hknq3wZCAGM?si=pDDkWW4H6NZWs61o"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="videos-section__grid-item videos-section__right">
      <iframe
        width="100%"
        loading="lazy"
        height="100%"
        src="https://www.youtube.com/embed/0bO78QjHCeE?si=C_YrQDWNWQcI7Feo"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
