<footer class="footer">
  <div class="footer__info">
    <div class="footer__left">
      <a href="userver.html">Уникальный UServer</a>
      <a href="udocs.html">Документы</a>
      <a href="index.html#instructions">Инструкции</a>
      <a href="index.html#clients">Отзывы</a>
    </div>
    <div class="footer__center">
      <a href="index.html#contacts">Контакты</a>
      <a href="blog.html">Блог</a>
    </div>
    <div class="footer__right">
      <div class="footer__social">
        <a href="mailto:urelocate@gmail.com">urelocate@gmail.com</a>
        <div class="footer__icons">
          <a href="https://t.me/upworkrelocate" target="_blank">
            <picture class="footer__social-icon">
              <source
                type="image/webp"
                srcset="./assets/img/dist/TelegramLogo.webp"
              />
              <img src="./assets/img/dist/TelegramLogo.png" alt="tg-icon" />
            </picture>
          </a>
          <a href="https://www.youtube.com/@URelocate" target="_blank">
            <picture class="footer__social-icon">
              <source
                type="image/webp"
                srcset="./assets/img/dist/YouTubeLogo.webp"
              />
              <img src="./assets/img/dist/YouTubeLogo.png" alt="tg-icon" />
            </picture>
          </a>
          <a href="https://www.instagram.com/upwork.relocate" target="_blank">
            <picture class="footer__social-icon">
              <source
                type="image/webp"
                srcset="./assets/img/dist/InstagramLogo.webp"
              />
              <img src="./assets/img/dist/InstagramLogo.png" alt="tg-icon" />
            </picture>
          </a>
          <a href="https://vk.com/urelocate" target="_blank">
            <picture class="footer__social-icon">
              <source
                type="image/webp"
                srcset="./assets/img/dist/VKLogo.webp"
              />
              <img src="./assets/img/dist/VKLogo.png" alt="tg-icon" />
            </picture>
          </a>
          <a href="https://discord.gg/PertUXuZRb" target="_blank">
            <picture class="footer__social-icon">
              <source
                type="image/webp"
                srcset="./assets/img/dist/DiscordLogo.webp"
              />
              <img src="./assets/img/dist/DiscordLogo.png" alt="tg-icon" />
            </picture>
          </a>
        </div>
      </div>
      <div class="footer__copyright">
        <p>© URelocate, 2024</p>
      </div>
    </div>
  </div>
</footer>
