<header>
  <div class="header-logo">
    <a href="/"
      ><img
        class="header-logo__image"
        src="./assets/img/dist/icons/logo.svg"
        alt="logo"
    /></a>
  </div>

  <nav class="nav">
    <h5 class="nav__item">
      <a class="nav__link" href="/#services">Услуги</a>
    </h5>
    <h5 class="nav__item"><a class="nav__link" href="blog.html">Блог</a></h5>
    <!-- <h5 class="nav__item"><a class="nav__link" href="#">О Нас</a></h5> -->
    <h5 class="nav__item">
      <a class="nav__link" href="/#instructions">Инструкции</a>
    </h5>
  </nav>

  <noindex>
    <div class="mobile-menu">
      <input id="checkbox-burger" class="checkbox" type="checkbox" />
      <label for="checkbox-burger">
        <div class="checkbox-box"></div>
      </label>

      <div class="background">
        <nav class="nav__mobile">
          <h5 class="nav__item">
            <img
              class="nav__image nav__image--services"
              src="./assets/img/dist/icons/goods.svg"
              alt="services"
            />
            <a class="nav__link nav__link--mobile" href="/#services">Услуги</a>
          </h5>
          <h5 class="nav__item">
            <img
              class="nav__image nav__image--blog"
              src="./assets/img/dist/icons/blog-pencil.svg"
              alt="blog-icon"
            />
            <a class="nav__link nav__link--mobile" href="blog.html">Блог</a>
          </h5>
          <!-- <h5 class="nav__item"><a class="nav__link" href="#">О Нас</a></h5> -->
          <h5 class="nav__item">
            <img
              class="nav__image nav__image--info"
              src="./assets/img/dist/icons/info.svg"
              alt="info-icon"
            />
            <a class="nav__link nav__link--mobile" href="/#instructions"
              >Инструкции</a
            >
          </h5>
        </nav>
      </div>
    </div>
  </noindex>
</header>
