<header>
  <div class="header-logo"><a href="/">URelocate</a></div>

  <nav class="nav">
    <h5 class="nav__item">
      <a class="nav__link" href="/#services">Услуги</a>
    </h5>
    <h5 class="nav__item"><a class="nav__link" href="blog.html">Блог</a></h5>
    <!-- <h5 class="nav__item"><a class="nav__link" href="#">О Нас</a></h5> -->
    <h5 class="nav__item">
      <a class="nav__link" href="/#instructions">Инструкции</a>
    </h5>
  </nav>

  <noindex>
    <div class="mobile-menu">
      <input id="checkbox-burger" class="checkbox" type="checkbox" />
      <label for="checkbox-burger">
        <div class="checkbox-box"></div>
      </label>

      <div class="background">
        <nav class="nav__mobile">
          <h5 class="nav__item">
            <a class="nav__link" href="/#services">Услуги</a>
          </h5>
          <h5 class="nav__item">
            <a class="nav__link" href="blog.html">Блог</a>
          </h5>
          <!-- <h5 class="nav__item"><a class="nav__link" href="#">О Нас</a></h5> -->
          <h5 class="nav__item">
            <a class="nav__link" href="/#instructions">Инструкции</a>
          </h5>
        </nav>
      </div>
    </div>
  </noindex>
</header>
