<section class="faq-section u-margin-bottom-section">
  <h1 class="heading-secondary u-text-center u-margin-bottom-heading">FAQ</h1>
  <div class="faq-section__content">
    <ul class="accordion" id="accordion">
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="purchase"
        />

        <label class="accordion__label" for="purchase">
          <p>Как мне приобрести услугу?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Оставьте заявку с помощью формы, указанной выше, и с вами свяжется
            наш менеджер, который проконсультирует и поможет с оплатой
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="guarantees"
        />

        <label class="heading-secondary accordion__label" for="guarantees">
          <p>Какие у вас гарантии?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Наш сервис уже более 2 лет помогает фрилансерам из РБ и РФ обходить
            блокировки разных сервисов. За это время у нас не было ни одной
            блокировки и более 800 успешных кейcов обхода санкций. Отзывы о
            нашей работе доступны в нашем телеграмм-канале, найти который вы
            можете внизу нашего сайта
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="linux"
        />

        <label class="heading-secondary accordion__label" for="linux">
          <p>У меня Linux, будет работать?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Все индивидуально и зависит от вашей ОС, ее версии и сборки. Перед
            приобретением лучше проконсультироваться с техническим специалистом
            и тестово установить определенное программное обеспечение
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="connection-timing"
        />

        <label
          class="heading-secondary accordion__label"
          for="connection-timing"
        >
          <p>В какие сроки будет выдано подключение после покупки?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Подключение к серверу будет выдано в течение 2-х часов после
            приобретения услуги
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="server-error"
        />

        <label class="heading-secondary accordion__label" for="server-error">
          <p>Что будет, если на сервере произойдет сбой?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Если на сервере произойдет какой-то сбой и подключение будет
            недоступно - не переживайте, вы в безопасности. Даже если вы в этот
            момент были подключены к UServer, то у вас просто перестанет
            загружаться страница, российский или белорусский трафик не будет
            идти. В случае возникновения неполадок вы всегда сможете обратиться
            к нашему техническому специалисту, который оперативно решит все
            проблемы
          </p>
        </div>
      </li>

      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="suspics"
        />

        <label class="heading-secondary accordion__label" for="suspics">
          <p>
            Большое количество пользователей подключено к одному ip-адресу, не
            возникнет ли подозрений у фриланс-бирж?
          </p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Подключенные к нашему серверу фрилансеры заходят с одного Ip-адреса,
            однако наш сервис замаскирован под коворкинг и не вызывает никаких
            вопросов. UServer подключен к обычный домашний сети и имеет
            динамический ip-адрес как у большинства европейских провайдеров,
            поэтому для разных бирж вы будете обычным фрилансером, работающим из
            коворкинга
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="tests"
        />

        <label class="heading-secondary accordion__label" for="tests">
          <p>
            Проводились ли реальные тесты сервера и существуют ли риски
            блокировок?
          </p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Более полугода проводилось множество тестов и уже более 4-х месяцев
            на нашем сервере работают 50 фрилансеров без каких-либо ограничений,
            поэтому воспользовавшись нашими услугами вы не несете никаких
            рисков.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="limits"
        />

        <label class="heading-secondary accordion__label" for="limits">
          <p>Ограничено ли количество пользователей на сервере?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Да, количество мест ограничено, поэтому поспешите оставить заявку на
            сайте или написать нашему менеджеру в телеграмм!
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="speed"
        />

        <label class="heading-secondary accordion__label" for="speed">
          <p>Какая скорость соединения при подключении к серверу?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Скорость соединения зависит от многих факторов: <br />- вашего
            интернет-провайдера и его ограничений <br />- вашей локации и
            отдаленности от сервера, <br />
            Скорость подключения может варьироваться в зависимости от этих
            факторов от 10 до 100 мб/с, чего вполне хватает для комфортной
            работы
          </p>
        </div>
      </li>

      <li class="accordion__item">
        <input
          class="accordion__input"
          type="checkbox"
          name="accordion"
          id="restrictions"
        />

        <label class="heading-secondary accordion__label" for="restrictions">
          <p>Есть ли ограничения по доступу к сайтам?</p>
          <div class="accordion__control">
            <span class="accordion__vertical-line"></span>
            <span class="accordion__horisontal-line"></span>
          </div>
        </label>

        <div class="accordion__content">
          <p class="big-paragraph">
            Вы не ограничены в посещении сайтов, не считая того, что ограничено
            европейским законодательством. Тут речь идет о торрентах, фишинге,
            порно, гэмблинге- в общем всего того, что не пригодится вам при
            работе <br />
            Вы можете использовать наш сервер обхода блокировки Ютуба, чтобы
            обходить текущие ограничения по скорости в России
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
